{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<head>
		<f:section name="metadata">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</f:section>

		<f:section name="stylesheets.bootstrap-business-casual">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-business-casual.css', package: 'MapSeven.Bootstrap')}" media="all" />
            <link href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
        </f:section>

        <f:section name="stylesheets.bootstrap-stylish-portfolio">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-stylish-portfolio.css', package: 'MapSeven.Bootstrap')}" media="all" />
            <link href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
        </f:section>


	</head>

	<body>
        <f:section name="body">

            {parts.mainMenu -> f:format.raw()}

            {content.main -> f:format.raw()}

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/khuppenbauer"><i class="fa fa-twitter fa-2x"></i></a></li>
                                <li><a href="https://github.com/khuppenbauer"><i class="fa fa-github fa-2x"></i></a></li>
                                <li><a href="http://www.flickr.com/photos/khuppenbauer"><i class="fa fa-flickr fa-2x"></i></a></li>
                                <li><a href="https://www.facebook.com/kerstin.huppenbauer"><i class="fa fa-facebook fa-2x"></i></a></li>

                                </li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <li><neos:link.node node="/sites/bootstrap">Home</neos:link.node></li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li><neos:link.node node="~/meta/kontakt">Kontakt</neos:link.node></li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li><neos:link.node node="~/meta/impressum">Impressum</neos:link.node></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
                <f:then></f:then>
                <f:else>
                    {content.piwik -> f:format.raw()}
                </f:else>
            </f:security.ifAccess>
        </f:section>

        <f:section name="bodyScripts">
            <script src="{f:uri.resource(path: 'JavaScript/jquery-1.10.2.js', package: 'MapSeven.Bootstrap')}"></script>
            <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
            <script type="text/javascript">
                $(document).ready(function ($) {

                    // delegate calls to data-toggle="lightbox"
                    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                        event.preventDefault();
                        return $(this).ekkoLightbox({
                            onShown: function() {
                                if (window.console) {
                                    return console.log('Checking our the events huh?');
                                }
                            }
                        });
                    });

                    //Programatically call
                    $('#open-image').click(function (e) {
                        e.preventDefault();
                        $(this).ekkoLightbox();
                    });
                    $('#open-youtube').click(function (e) {
                        e.preventDefault();
                        $(this).ekkoLightbox();
                    });
                });
            </script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script>
                $("#menu-close").click(function(e) {
                    e.preventDefault();
                    $("#sidebar-wrapper").toggleClass("active");
                });
            </script>
            <script>
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#sidebar-wrapper").toggleClass("active");
                });
            </script>
            <script>
                $(function() {
                    $('a[href*=#]:not([href=#])').click(function() {
                        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        }
                    });
                });

                $(document).ready(function ($) {
                    $('div.neos-contentcollection').contents().unwrap();
                });
            </script>
        </f:section>
    </body>
</html>
