{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<head>
		<f:section name="metadata">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</f:section>

		<f:section name="stylesheets">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
            <link rel="stylesheet" href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css">
            <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-common.css', package: 'MapSeven.Bootstrap')}" media="all" />
        </f:section>

        <f:section name="stylesheets.startbootstrap-business-casual">
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-business-casual.css', package: 'MapSeven.Bootstrap')}" media="all" />
        </f:section>

        <f:section name="stylesheets.startbootstrap-stylish-portfolio">
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-stylish-portfolio.css', package: 'MapSeven.Bootstrap')}" media="all" />
        </f:section>

        <f:section name="stylesheets.startbootstrap-grayscale">
            <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-grayscale.css', package: 'MapSeven.Bootstrap')}" media="all" />
        </f:section>


	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
        <f:section name="body">

            {parts.mainMenu -> f:format.raw()}

            {content.main -> f:format.raw()}

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/khuppenbauer"><i class="fa fa-twitter fa-2x"></i></a></li>
                                <li><a href="https://github.com/khuppenbauer"><i class="fa fa-github fa-2x"></i></a></li>
                                <li><a href="http://www.flickr.com/photos/khuppenbauer"><i class="fa fa-flickr fa-2x"></i></a></li>
                                <li><a href="https://www.facebook.com/kerstin.huppenbauer"><i class="fa fa-facebook fa-2x"></i></a></li>

                                </li>
                            </ul>
                            <hr>
                            {parts.metaMenu -> f:format.raw()}
                        </div>
                    </div>
                </div>
            </footer>
            <f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
                <f:then></f:then>
                <f:else>
                    {content.piwik -> f:format.raw()}
                </f:else>
            </f:security.ifAccess>
        </f:section>

        <f:section name="bodyScripts">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
            <script src="{f:uri.resource(path: 'JavaScript/lightbox.js', package: 'MapSeven.Bootstrap')}"></script>
        </f:section>
        <f:section name="bodyScripts.startbootstrap-grayscale">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
            <script src="{f:uri.resource(path: 'JavaScript/grayscale.js', package: 'MapSeven.Bootstrap')}"></script>
        </f:section>
        <f:section name="bodyScripts.startbootstrap-stylish-portfolio">
            <script src="{f:uri.resource(path: 'JavaScript/stylishPortfolio.js', package: 'MapSeven.Bootstrap')}"></script>
        </f:section>
    </body>
</html>