{namespace neos=TYPO3\Neos\ViewHelpers}
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a class="navbar-brand" href="{neos:uri.node(node: site)}">MapSeven</a></li>
        <f:render partial="MainMenuItemList" arguments="{items: items, site: site}" />
    </ul>
</div>
