{namespace media=TYPO3\Media\ViewHelpers}
<f:if condition="{backgroundImage}">
    <f:then>
        <div{attributes -> f:format.raw()} style="background-image: url({media:uri.image(image:backgroundImage)});{f:if(condition:color, then: ' color:{color};')}">
            <div class="vert-text">
                {column0 -> f:format.raw()}
            </div>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{backgroundColor">
            <f:then>
                <div class="content" style="background:{backgroundColor};{f:if(condition:color, then: ' color:{color};')}">
            </f:then>
            <f:else>
                <div>
            </f:else>
        </f:if>
            <div class="container">
                <div class="row">
                    <f:render partial="Headline" arguments="{_all}" />
                    <div class="col-lg-12">
                        {column0 -> f:format.raw()}
                    </div>
                </div>
            </div>
        </div>
    </f:else>
</f:if>